html{
	font-family: Arial, Sans-Serif;
}
div{
	padding: 10px;
	margin: 10px;
	background-color: rgb(128,128,128);
}
button{
	cursor:pointer; 
	background: rgb(200,200,200);
	box-shadow:0 0 6px hsla(200,100%,80%,1);
	border:0;
	padding: 5px 15px;
	margin: 5px;
}
h1,h2,h3,h4,h5,h6,a,p,label,button{
	text-shadow:0 0 1px hsla(0,0%,0%,1);
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.align-center{
	text-align: center;
}